body {
  background-image: url("/images/background-static.png");
  background-size: cover; }

nav {
  z-index: 100; }

#navbarNav .nav-link {
  color: #D6C58E;
  font-size: 16px; }
#navbarNav .nav-link:hover {
  color: white; }
#navbarNav .active-link {
  color: white; }
#navbarNav li {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  font-family: "Montserrat", sans-serif;
  z-index: 100; }
@media only screen and (min-width: 768px) {
  #navbarNav li {
    padding-top: 10px; } }

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#D6C58E' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.custom-toggler.navbar-toggler {
  border-color: #D6C58E;
  outline: none; }

#home-page-flex {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  #home-page-flex h2 {
    padding-bottom: 0; }

h3 {
  color: #D6C58E;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 200; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  height: 100vh;
  width: 100%; }
  .header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }

.capitals {
  text-transform: uppercase; }

.content {
  position: absolute;
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 0;
  left: 50%;
  color: #D6C58E; }
  .content h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 200;
    color: #D6C58E;
    padding: 0 50px 50px 50px; }
  .content h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: #D6C58E;
    padding-bottom: 40px; }
  .content .home-page-logo {
    width: 200px; }
  .content .other-page-logo {
    width: 150px;
    padding-top: 100px; }
  @media only screen and (min-width: 768px) {
    .content .home-page-logo {
      width: 300px; } }
  .content .container h3 {
    text-align: left;
    padding-bottom: 20px; }
  .content .container p {
    font-family: "Arima Madurai", cursive;
    text-align: left; }
  .content .spacer {
    height: 400px; }

.features {
  padding-bottom: 200px; }
  .features .col-md-6 a {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin: 0 auto; }
    .features .col-md-6 a h3 {
      width: 120px;
      font-size: 16px; }
  .features h3 {
    position: absolute; }

.sec2 .col-md-3 {
  margin: 0 auto; }
  .sec2 .col-md-3 div {
    margin: 0 auto; }

.graphic-background {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #D6C58E;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px; }

.graphic-text {
  padding: 25px 0 50px 0;
  max-width: 200px;
  margin: 0 auto; }

.stars {
  /*position: absolute;
  top: 0;
  left: 0;*/ }

.anchorlink:hover {
  cursor: pointer; }

.process p {
  font-family: "Shadows Into Light Two", cursive;
  padding-bottom: 10px;
  width: 200px;
  text-align: center; }

#process-row {
  position: relative;
  height: 600px; }

.arrow {
  position: absolute; }

.process-step {
  position: absolute;
  text-align: center; }

#process-1 {
  top: 0;
  left: 0;
  text-align: center; }

#process-2 {
  top: 0;
  right: 10%;
  text-align: center; }

#process-3 {
  top: 0;
  left: 10%;
  text-align: center; }

#process-4 {
  top: 0;
  right: 10%;
  text-align: center; }

#arrow1 {
  top: 6%;
  right: 50%; }

#arrow2 {
  top: 35%;
  left: 30%; }

#arrow3 {
  top: 58%;
  right: 40%; }

@media only screen and (min-width: 576px) {
  .process p {
    width: auto; }

  #process-row {
    height: 340px; }

  .process-step {
    position: static; }

  #process-1 {
    padding-top: 150px; }

  #process-3 {
    padding-top: 200px; }

  #process-4 {
    padding-top: 50px; }

  .arrow {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg); }

  #arrow1 {
    top: 12%;
    left: 15%; }

  #arrow2 {
    top: 25%;
    left: 38%; }

  #arrow3 {
    top: 25%;
    right: 27%; } }
form {
  max-width: 600px;
  font-family: "Arima Madurai", cursive; }
  form input[type=text], form input[type=email], form #messageInput {
    background-color: #66666680;
    border: none;
    border-radius: 0;
    color: #D6C58E; }
  form #send-button {
    text-align: center;
    padding: 20px 0 50px 0; }
  form button {
    width: 90px;
    height: 50px;
    background-color: #3d3d3d;
    border: none;
    color: #D6C58E;
    padding-top: 5px;
    font-family: "Montserrat", sans-serif; }
  form button:hover {
    cursor: pointer; }

#contact-container {
  padding: 0; }

#toTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 1000;
  font-family: "Arima Madurai", cursive;
  font-size: 40px;
  border: none;
  outline: none;
  background-color: #3d3d3d;
  color: #D6C58E;
  cursor: pointer;
  padding: 0px 30px;
  border-radius: 4px; }

#toTopBtn:hover {
  background-color: #555; }

/*

@media (pointer: coarse) and (hover: none) {
  .header {
    background: url('updateme') black no-repeat center center scroll;
  }
  .header video {
    display: none;
  }
}

*/

/*# sourceMappingURL=style.css.map */
