{{ partial "head.html" . }}
        <div class="header">
            <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" id="backgroundVideo">
                <source src="/images/background.mp4" type="video/mp4">
            </video>
           <!-- <div class="container h-100">

            </div> -->
        </div>

        <div class="container-fluid text-center content" id="menu-hide">
            <img class="mx-auto d-block other-page-logo" src="/images/logo.png">
            <h1>INTEGRATIVE CONSULTING</h1>
            <h2 class="capitals">{{ .Title }}</h2>
            <div class="container">
                <p class="text-center">Thanks for your message, we'll get back to you very soon!</p>
            </div>
        </div>

{{ partial "footer.html" . }}