<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script>
        var x = document.getElementById("backgroundVideo");
        window.onload = function setPlaySpeed() { 
            x.playbackRate = 0.5;
        }
        
        function toggleLogoDisplay() {
            var displayStatus = document.getElementById("menu-hide");
            if (displayStatus.style.display != "none") {
                displayStatus.style.display = "none";
            } else {
                displayStatus.style.display = "block";
            }
        }
        
        document.querySelector('#anchor1link').addEventListener('click', function(e) {
            e.preventDefault();
            document.querySelector('#anchor1').scrollIntoView({ behavior: 'smooth', block: "start" });
        });
        
        document.querySelector('#anchor2link').addEventListener('click', function(e) {
            e.preventDefault();
            document.querySelector('#anchor2').scrollIntoView({ behavior: 'smooth', block: "start" });
        });
        
        document.querySelector('#anchor3link').addEventListener('click', function(e) {
            e.preventDefault();
            document.querySelector('#anchor3').scrollIntoView({ behavior: 'smooth', block: "start" });
        });
        
        document.querySelector('#anchor4link').addEventListener('click', function(e) {
            e.preventDefault();
            document.querySelector('#anchor4').scrollIntoView({ behavior: 'smooth', block: "start" });
        });
            
                window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
            if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                document.getElementById("toTopBtn").style.display = "block";
            } else {
                document.getElementById("toTopBtn").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
        
    </script>
  </body>
</html>